- @voting.items.each do |item|
  %tr
    %td
      = item.title

    - if !item.special && !item.fixed
      %td
        %button.btn-vote{ 'data-vote' => 1,
          'data-voting-id' => "#{@voting.id}",
          'data-item-id' => "#{item.id}" } up
      %td
        %button.btn-vote{ 'data-vote' => -1,
          'data-voting-id' => "#{@voting.id}",
          'data-item-id' => "#{item.id}" } down
