%h1 Schedule your dishes.

.items
  - @results.items.each do |item|
    .item-draggable{ 'data-item-id' => "#{item.id}" }
      %p= item.title
      %p= item.cached_votes_score

.selected-items
  - (5 - @results.ready_to_schedule.size).times do
    .item-droppable

.scheduled
  .days
    %ul.scheduled-list
      %li Monday
      %li Tuesday
      %li Wednesday
      %li Thursday
      %li Friday
  .results
    %ul.scheduled-list
      - @results.ready_to_schedule.each do |result|
        %li{ 'data-result-id' => "#{result.id}" }
          = result.item.title
          = link_to 'Delete', admin_result_path(result.id), method: 'delete' if !result.item.fixed and ! result.item.special
      - if @results.ready_to_schedule.size < 5
        - (5 - @results.ready_to_schedule.size).times do
          %li.empty &nbsp;

  %button.update-results Save & Publish
