%br
#voting-create
  = form_for [:admin, @voting] do |f|
    %fieldset
      = f.label :title, 'Title for this Voting Event'
      = f.text_field :title

    .items
      %h2.text-center Items
      = f.fields_for :items do |itf|
        .item.full
          = itf.hidden_field :user_id
          = itf.hidden_field :id

          %fieldset
            = itf.label :title
            = itf.text_field :title

          %div.span3
            = itf.label :special
            = itf.check_box :special

          %div.span3
            = itf.label :fixed
            = itf.check_box :fixed

          %fieldset.birthday.hidden.full
            = itf.label :birthday_name
            = itf.text_field :birthday_name

          - if @voting.persisted?
            %fieldset
              = itf.label :_destroy
              = itf.check_box :_destroy
      %fieldset
        = f.submit
