%br
#voting-create
  = form_for [:admin, @voting] do |f|
    %fieldset
      = f.label :title, 'Title for this Voting Event'
      = f.text_field :title

    .items
      %h2.text-center Items
      = f.fields_for :items do |itf|
        .item.full
          = itf.hidden_field :user_id
          = itf.hidden_field :id

          .item-title
            = itf.label :title
            = itf.text_field :title, class: 'full'

          %div.span2
            = itf.label :special
            = itf.check_box :special

          %div.span2
            = itf.label :fixed
            = itf.check_box :fixed

          - if @voting.persisted?
            %div.span2
              = itf.label :_destroy
              = itf.check_box :_destroy

          %fieldset.birthday.hidden.full
            = itf.label :birthday_name
            = itf.text_field :birthday_name

      %fieldset
        = f.submit
        = link_to 'Back', admin_votings_path, class: 'btn'
