!!!
%html{ lang: 'en' }
  %head
    %title Ratefast
    = render partial: 'meta'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    = render partial: 'header'
    = render partial: 'active_voting'

    %main.main
      .container
        = yield

    = render partial: 'footer'
    = render partial: 'javascripts'

