!!!
%html{ lang: 'en' }
  %head
    %title Ratefast
    = render partial: 'meta'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    = render partial: 'header'
    = render partial: 'active_voting' if is_dashboard?
    %main.main
      .container
        = yield

    = render partial: 'footer'
    = render partial: 'javascripts'

    :javascript
      var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
      rumbleBannerBackgroundColor = "#161616";
      rumbleBannerTextColor = "#b0b0b0";
      rumbleBannerLinkColor = "#ffffff";
      rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
    <script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2015.js" type="text/javascript"></script>
